
body {
  margin: 0;
}
p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  color: #182FAA;
}
h1 {
  font-family: Helvetica, sans-serif;
  font-style: bold;
  color: #182FAA;
}
h2 {
  font-family: Helvetica, sans-serif;
  font-style: bold;
  color: #182FAA;
}
header {
  background-color: #E7E9F0;
  padding: 15px;
}
header ul {
  float: right;
  color: #182FAA;
}
header li {
  display: inline-block;
  padding: 0px 5px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
}
header p {
  display: inline-block;
}
header img {
  width: 100px;
}
.heroImg {
  background-color: #E7E9F0;
  padding: 100px 15px;
}
.content {
  max-width: 300px;
  margin: 0 auto;
  padding: 50px;
  background-color: #E7E9F0;
  text-align: center;
}
.content img {
  width: 150px;
}
button {
  padding: 15px;
  background-color: #E7E9F0;
  color: #182FAA;
  font-size: 15px;
  border-radius: 4px;
  font-family: Helvetica, sans-serif;
}
footer {
  background-color: #373738;
  padding: 5px;
  color: white;
}
footer ul {
  list-style: none;
  padding-left: 5px;
}
footer li {
  display: inline-block;
  padding: 0px 7px;
}
.heading {
  text-align: center;
  padding: 15px 5px;
  font-size: 30px;
  font-family: Helvetica, sans-serif;
  font-style: condensed;
  color: #182FAA;
}

.preloader {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 100000;
  background-color: #E7E9F0;
  top: 0;
  display: flex;
  align-items: center;
}
.preloader img {
  transition: all;
  width: 150px;
  margin: 0 auto;
}

/* My UX Skills Section */
.flexContainer {
  display: flex;
  padding: 60px 30px;
}
.flexContainer div {
  width: 33%;
  padding: 25px;
}

/* My Work Section */
.myWork {
  padding: 60px 30px;
  padding-top: 0;
  background-color: #EBEBEB;
}
.workGrid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 350px 350px 350px;
  grid-template-areas:
  "img1 content1"
  "img2 content2"
  "img3 content3"
  ;
}
.workGrid img {
  width: 100%;
  max-width: 250px;
  margin: 0 auto;
  display: block;
}
.img1 {
  grid-area: img1;
}
.img2 {
  grid-area: img2;
}
.img3 {
  grid-area: img3;
}
.img1, .img2, .img3, .content1, .content2, .content3 {
  padding: 80px;
}
.content1 {
  grid-area: content1;
}
.content2 {
  grid-area: content2;
}
.content3 {
  grid-area: content3;
}
